<section class="bg-primary-background min-h-screen">
    <div class="flex flex-col md:flex-row container mx-auto items-center justify-center gap-4">
        <div>
            <img src="/profile.png" alt="Ada Suárez" class="object-cover w-full h-full" />
        </div>
        <div>
            <h1 class="text-2xl font-bold text-secondary flex flex-col">
                Hola! Soy <span class="text-4xl">Ada Suárez</span>
            </h1>
            <span class="text-2xl text-primary font-extrabold">Ingeniera  • Web developer  • Ilustradora</span>
        </div>
    </div>
</section>